/* Resetting some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Full viewport height for the main section */
body,
html {
    height: 100%;
}

/* Main Section Styling */

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./images/ma-lib.jpg"); /* Replace with actual image path */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Adjust blur intensity */
    opacity: 0.7; /* Adjust opacity to further enhance readability */
    z-index: -1; /* Position it behind the content */
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #070101;
    /* text-align: center; */
    /* padding: 0 20px; */
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    /* max-width: 600px; */
    text-align: center;
    font-weight: 600;
}
